@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
footer{
    width: 1200px;
    height: 640px;
    margin: 0 auto;
}
.ftrbg1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 370px;
    background-image: url(./ftrbg.png);
}
.ftrbg1_textbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 467px;
    height: 226px;
}
.ftrbg1_txt1{
    width: 378px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-top: 0.5px;
    margin-left: -1px;
}
.ftrbg1_txt2{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin-top: 23.25px;
    margin-left: -1.5px;
}
.ftrbg1_but{
    width: 92px;
    height: 22px;
    display: flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: #FD9222;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 23.5px;
    margin-left: -1px;
    cursor: pointer;
}
.ftrbg2{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 270px;
    background: #1E1823;
}
.ftrbg2_txt1{
    width: 300px;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    margin-top: 50px;
    margin-left: 32px;
}
.ftrbg2_txt1 span{
    color: #FD9222;
}
.ftrbg2_contacts{
    width: 164px;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 50px;
    margin-left: 543px;
}
.contact{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}
.phonenum{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin-top: 14px;
}
.gmail{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin-top: 4px;
    cursor: pointer;
}
.inst{
    margin-left: 63px;
    margin-top: 50px;
    cursor: pointer;
}
.twit{
    margin-left: 18px;
    margin-top: 50px;
    cursor: pointer;
}
.line{
    width: 1136px;
    height: 1px;
    background: rgba(255, 255, 255, 0.10);
    margin-left: 32px;
}
.navofsite{
    display: flex;
    justify-content: space-between;
    width: 532px;
    height: 16px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;
    margin-left: 32px;
    margin-top: -25px;
}
.home{
    cursor: pointer;
}
.hm{
    cursor: pointer;
}
.prod{
    cursor: pointer;
}
.topsel{
    cursor: pointer;
}
.loved{
    cursor: pointer;
}